@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

/* font-family: 'Courgette', cursive;   font-family: 'Changa', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* common css end */

.header{
    background-color: white;
}
.gap-area{
    max-width: 1280px;
    margin: 0 auto;
}
.navigation, .menu{
    display: flex;
}
.navigation{
    justify-content: space-between;
    align-items: center;
}
.menu li{
    padding: 15px 20px;
    position: relative;
}
.menu li a{
    color: rgb(33, 150, 243);
}
.menu li:hover{
    background-color: rgb(167, 236, 231);
    border-radius: 10px;
}
.menu li:hover a{
    color: black;
}
/* Hero Section */
.hero{
    background-color: #FFFFFF;
}
.hero-section{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.text-part{
    width: 45%;
}
.text-part h1{
    font-family: 'Courgette', cursive;
}
.text-part h3{
    font-family: 'Changa', sans-serif;
    font-size: 30px;
}
.descripton{
    margin: 10px 0;
    line-height: 22px;
    font-weight: 200;
    font-size: 20px;
}
.btn{
    margin: 10px 0 0;
    margin-left: 20px;
    padding: 10px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(132,126,235,1) 0%, rgba(202,202,233,1) 100%);
    border: 0;
}
.btn:hover{
    background-color: aqua;
}
.btn a{
    color: white;
}
.btn:hover a{
    color: black;
    transition: .6s;
}
.vector-part{
    width: 45%;
}
/* Service Section */
.Service-section{
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px 0;
}
.gaparea{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.first-item, .second-item, .third-item{
    text-align: center;
    margin: 20px;
}
.gaparea span{
    color: rgb(33, 150, 243);
    font-size: 50px;
    padding: 10px;
    margin-top: 20px;
}
.gaparea p{
    width: 200px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.gaparea h2{
    font-family: 'Courgette', cursive;
    margin: 10px 0;
}

/* Process section */
.process-section{
    margin: 50px 0;
    padding: 30px;
}
.process-content{
    text-align: center;
}
.process-content h1{
    font-family: 'Changa', sans-serif;
    margin: 0 0 0 100px;
}
.first-content-row, .second-content-row{
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
}
.process-content span{
    font-size: 100px;
    border: 2px solid rgb(134, 128, 235);
    padding: 10px;
    color: rgb(33, 150, 243);

}
.first-content span{
    height: 150px;
    width: 170px;
}
.process-content h2{
    margin: 20px 0 0 0;
    font-family: 'Changa', sans-serif;
    font-size: 40px;
}
.process-content p{
    width: 420px;
    font-size: 21px;
    color:rgba(0, 0, 0, 0.4);
}
.first-content, .second-content, .third-content{
    margin: 0 20px;
}

/* Portfpolio Section */
.port-section{
    background-color: rgba(0, 0, 0, 0.05);
}
.port-content{
    text-align: center;
    padding: 50px 0 150px 0;
}
.port-content h1{
    font-family: 'Courgette', cursive;
    margin: 40px 0 60px 0;
    position: relative;
}
.port-content h1::after{
    content: "";
    height: 3px;
    width: 100px;
    top: 110%;
    left: 45%;
    background-color: rgb(33, 150, 243);
    position: absolute;
}

.port-img{
    text-align: center;
}
.port-content img{
    border: 1px solid rgb(33, 150, 243);
}

/* contact Section */
.contact-section{
    padding: 100px 0;
}
.both-column{
    display: flex;
    flex-wrap: wrap;
}
.both-column h1{
    margin: 30px 0;
    font-size: 50px;
    font-family: 'Changa', sans-serif;
    width: 100%;
    position: relative;
}
.both-column h1::after{
    content: "*CONTACT";
    top: -90px;
    left: 0;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;

    font-size: 150px;
}
.first-column{
    width: 50%;
}
.second-column{
    width: 50%;
}
.inner-content {
    margin: 40px 0;
}
.inner-content span{
    display: inline-block;
    font-size: 30px;
    color: rgb(29, 114, 249);
}
.inner-content h2{
    display: inline-block;
    margin-left: 10px;
    font-family: 'Courgette', cursive;
}
.inner-content p{
    font-size: 20px;
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.6);
}
.second-column input {
    width: 600px;
    margin: 10px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    font-size: 17px;
}
.second-column textarea{
    width: 600px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    outline: 0;
   border: 1px solid rgba(0, 0, 0, 0.3);
}
.second-column .btn{
    cursor: pointer;
    color: #FFFFFF;
}
.second-column .btn:hover{
    color: black;
}

/* Social Section */

.social-section{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 80px 0;
}
.facebook, .instagram, .twitter{
    text-align: center;
}
.social-section h4{
    font-family: 'Changa', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}
.social-section p{
    font-size: 20px;
    margin-top: 0;
}
.social-section span{
    border: 2px solid rgba(0, 0, 0, 0.09);
    border-radius: 40%;
}
/* footer section */
.footer-para{
    text-align: center;
    padding: 30px 0;
    background-color:  rgba(0, 0, 0, 0.5);
}
.footer-para p{
    font-size: 25px;
    color: #FFFFFF;
}